
<div>

<%= render 'shared/form_errors', { obj: @user } %>

<h2 class="mb-5 text-success">Atualize seus dados</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field input-group input-group-lg mt-4">
      <%= f.label :email, class: "input-group-text fw-bold w-25", id: "inputGroup-sizing-lg" %><br />
      <%= f.email_field :email, class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-lg", autofocus: true %>
    </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field input-group input-group-lg mt-4">
    <%= f.label :name, class: "input-group-text fw-bold w-25", id: "inputGroup-sizing-lg" %><br />
    <%= f.text_field :name, class: "form-control", placeholder: 'Somente números', aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-lg" %>
  </div>

  <div class="field input-group input-group-lg mt-4">
    <%= f.label :about, class: "input-group-text fw-bold w-25", id: "inputGroup-sizing-lg" %><br />
    <%= f.text_field :about, class: "form-control", placeholder: 'Sobre mim', aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-lg" %>
  </div>

  <div class="field input-group input-group-lg mt-4">
    <%= f.label :password, class: "input-group-text fw-bold w-25" %><br />
    <%= f.password_field :password, class: "form-control", placeholder: "Deixe em branco se não quer mudar", autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />

    <% end %>
  </div>

  <div  class="field input-group input-group-lg mt-4">
    <%= f.label :password_confirmation, class: "input-group-text fw-bold w-25" %><br />
    <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
  </div>

  <div class="field input-group input-group-lg mt-4">
    <%= f.label :current_password, class: "input-group-text fw-bold w-25" %><br />
    <%= f.password_field :current_password, class: "form-control", placeholder: "Precisamos de sua senha atual para salvar alerações", autocomplete: "current-password" %>
  </div>

  <div class="field input-group input-group-lg mt-4 d-grid">
    <%= f.submit "Salvar", class: "btn btn-success mb-3 mt-5 btn-lg" %>
  </div>
<% end %>
<div class="d-flex gap-3">
  <div><%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?", turbo_confirm: "Tem certeza?" }, method: :delete, class: "btn btn-secondary mb-3 mt-5 btn-lg" %></div>
  <%= link_to "Voltar", :back, class: "btn btn-secondary mb-3 mt-5 btn-lg" %>
</div>


</div>
