<div class="mx-auto p-4" style="width: 75%; background: #e9ecef">


  <% if @bid.errors.any? %>
    <div class="alert alert-danger">
      <p>Verifique os erros abaixo:</p>
        <ul>
         <% @bid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
    </div>
  <% end %>


  <h2 class="mb-5 display-6">Faça seu lance</h2>

  <%= form_with(model: [@lot, @bid]) do |f| %>

    <div class="input-group input-group-lg mt-4">
      <%= f.label :value, class: "input-group-text fw-bold w-25", id: "inputGroup-sizing-lg" %>
      <%= f.number_field :value, class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-lg" , autofocus: true %>
      <%= f.hidden_field :lot_id, value: @lot.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
    </div>
    <div class="d-grid">
      <%= f.submit 'Confirmar lance', class: "btn btn-success mb-3 mt-5 btn-lg" %>
    </div>
    

  <% end %>

</div>