<div class="mx-auto p-4 bg-success bg-opacity-10 border border-3 border-success p-2 mb-2 border-opacity-50 rounded-4 mt-4" style="width: 75%; background: #e9ecef">


  <h2 class="mb-5 display-6 text-success">Meu perfil</h2>
  <div class="d-flex flex-wrap row">
    <div class="col-3", style="min-width: 300px;">
      <% if @user.image.attached? %>
        <%= image_tag(@user.image, class:"img-fluid rounded mb-5 ratio ratio-1x1", style:"", size: "400x400") %>
      <% end %>
    </div>
    <div class="col-9">
      <div>
        <p><strong>Nome: </strong><%= current_user.name %></p>
        <p><strong>Email: </strong><%= current_user.email %></p>
        <p><strong>Sobre: </strong><%= current_user.about %></p>
        <p><strong>CPF: </strong><%= current_user.registration_number %></p>
      </div>
      <div class="mt-4">
        <%= button_to 'Editar perfil', edit_user_registration_path(@user), method: :get, class: "btn btn-success" %>
      </div>
    </div>
   
  </div>
  


</div>
