<div class="mx-auto p-4 bg-success bg-opacity-10 border border-3 border-success p-2 mb-2 border-opacity-50 rounded-4 mt-44" 
     style="width: 75%; background: #e9ecef">

  <div class="d-flex gap-2">
    <h2 class="mb-5 ms-4 text-success">Adicione produtos ao lote</h2>
    <%= link_to 'Voltar para o lote', lot_path(@lot), class: "mb-5 ms-4 btn btn-success" %>
  </div>

  <%= form_with(model: [@lot, @lot_item]) do |f| %>
    <div class="input-group input-group-lg mt-4">
      <%= f.label :item_id, class: "input-group-text fw-bold w-25", id: "inputGroup-sizing-lg" %>
      <%= f.collection_select(:item_id, @lot.available_items, :id, :name, { prompt: 'Selecione' }, {class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-lg"}) %>
    </div><br />
    <div class="d-grid">
      <%= f.submit 'Gravar', class: "btn btn-success mb-3 mt-5 btn-lg"  %>
    </div>
  <% end %>
