<div class="mx-auto p-4 bg-success bg-opacity-10 border border-3 border-success p-2 mb-2 border-opacity-50 rounded-4 mt-4" style="width: 75%; background: #e9ecef">

  <h2 class="mb-5 ms-4 text-success">Produtos cadastrados</h2>

  <% if @items.any? %>


  <div class="card-deck d-flex"> 
      <% @items.each do |item| %>
        <div class="card ms-4 me-4" id="item_<%= item.id %>" style="width: 18rem;">
            <% if item.image.attached? %>
              <%= image_tag(item.image, class:"img-fluid rounded-start", style:"height: 200px; object-fit: cover;") %>
            <% end %>          
          <div class="card-body">
            <h5 class="card-title"><strong><%= item.name %></strong></h5> 
            <p class="card-text"><%= truncate(item.description, length: 30) %></p>
            <%= link_to 'Ver detalhes', item_path(item), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>

  <% else %>
    <p class="alert alert-warning mt-4" role="alert">Não há produtos cadastrados</p>
  <% end %>

</div>