<div>

<h3 class="mb-5 ms-2 text-success">Resultado da pesquisa para o termo '<%= @query %>':</h3>

<h4 class="mb-5 ms-2 text-success"><%= @items_code.count %> <%= Item.model_name.human(count: @items_code.count) %> <%= I18n.t(:found, count: @items_code.count) %>:</h4>

<hr>
<% @items_code.each do |item| %>
  <br />
    <%= render item %>
  <br />
    <hr>
  <br />
<% end %>

</div>