<div class="mx-auto p-4 bg-success bg-opacity-10 border border-3 border-success p-2 mb-2 border-opacity-50 rounded-4 mt-4" style="width: 75%;">

<div class="card" style="width:100%; height: 100%">
  <div class="row g-0">
    <div class="col-md-4 p-5">
      <% if @item.image.attached? %>
        <%= image_tag(@item.image, class:"img-fluid rounded-start", style:"") %>
      <% end %>
    </div>
    <div class="col-md-8 d-flex align-items-center justify-content-center">
      <div class="card-body">
        <h2 class="card-title mb-4 text-success"> <%= @item.name%></h2>
        <p class="card-text"><strong><%= Item.human_attribute_name(:description) %>: </strong><%= @item.description %></p>
        <p class="card-text"><strong><%= Item.human_attribute_name(:product_category_id) %>: </strong><%= @product_category %></p>
        <p class="card-text"><strong><%= Item.human_attribute_name(:weight) %>: </strong><%= @item.weight %>g</p>
        <p class="card-text"><strong>Dimensões: </strong><%= @item.height %>cm (<%= Item.human_attribute_name(:height).downcase %>) x <%= @item.depth %>cm (<%= Item.human_attribute_name(:depth).downcase %>) x <%= @item.width %>cm (<%= Item.human_attribute_name(:width).downcase %>)</p>
        <p class="card-text"><strong><%= Item.human_attribute_name(:code) %>: </strong><%= @item.code %></p>
        <p class="card-text"><small class="text-body-secondary">Criado em <%= I18n.l(@item.created_at, format: '%d de %B de %Y') %> </small></p>
        <div class="d-flex gap-2">
          <% if current_user.admin? %>
            <%= button_to 'Editar', edit_item_path(@item), method: :get, class: "btn btn-success" %>
          <% end %>
          <%= button_to 'Todos os produtos', items_path, method: :get, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

