<%= stylesheet_link_tag 'custom' %>
<div>

  <%= render 'shared/form_errors', { obj: @lot } %>

  <h3 class="mb-5 ms-2 text-success">Criar um novo lote</h3>

    <%= form_with model: @lot, data: { turbo: false }, local: true do |f|  %>

      <div class="input-group input-group-default mt-4">
        <%= f.label :code, class: "input-group-text fw-bold col-md-3 media-breakpoint-up(md)", id: "inputGroup-sizing-default" %><br />
        <%= f.text_field :code, class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-lg", autofocus: true %>
      </div>

      <div class="input-group input-group-default mt-4">
        <%= f.label :start_date, class: "input-group-text fw-bold col-md-3 media-breakpoint-up(md)", id: "inputGroup-sizing-default"  %><br />
        <%= f.date_field :start_date, class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-default" %>
      </div>

      <div class="input-group input-group-default mt-4">
        <%= f.label :limit_date, class: "input-group-text fw-bold col-md-3", id: "inputGroup-sizing-default"  %><br />
        <%= f.date_field :limit_date, class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-default" %>
      </div>


      <div class="input-group input-group-default mt-4">
        <%= f.label :minimum_bid_value, class: "input-group-text fw-bold col-md-3", id: "inputGroup-sizing-default"   %><br />
        <%= f.number_field :minimum_bid_value, placeholder: 'Insira apenas números', class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-default", autofocus: true %>
      </div>

      <div class="input-group input-group-default mt-4">
        <%= f.label :minimum_bid_difference, class: "input-group-text fw-bold col-md-3", id: "inputGroup-sizing-default"  %><br />
        <%= f.number_field :minimum_bid_difference, placeholder: 'Insira apenas números', class: "form-control", aria_label: "Sizing example input", aria_describedby: "inputGroup-sizing-default", autofocus: true%>
      </div>

      <div class="d-grid">
        <%= f.submit 'Cadastrar lote', class: "btn btn-success mb-3 mt-5 btn-default" %>
      </div>

    <% end %>

</div>


