
<div class="mx-auto p-4 bg-success bg-opacity-10 border border-3 border-success p-2 mb-2 border-opacity-50 rounded-4 mt-4" style="width: 75%; background: #e9ecef">

  <h3 class="mb-5 text-success"><%= Lot.model_name.human %> <%= @lot.code.upcase %></h3>

  <div class="d-flex gap-2" %>
    <% if @lot.approved? && @lot.current? && user_signed_in? && !current_user.admin? %>
        <%= button_to "Fazer um lance a partir de R$#{@lot.bid_value_to_beat},00",
                bid_on_lot_lot_path(@lot.id),
                method: :post,
                class: "btn btn-primary mb-3 mt-2 me-2" %>

        <% if current_user.favorites.any? { |fav| fav.lot_id == @lot.id } %>
          <%= link_to 'Remover dos favoritos', lot_favorite_path(@lot, @favorite), data: { turbo_method: :delete }, class: "btn btn-secondary mb-3 mt-2 me-2" %>
        <% else %>
          <%= form_with model: @favorite, url: lot_favorites_path(@lot) do |f| %>
            <%= f.hidden_field :lot_id, value: @lot.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "Marcar lote como favorito", class: "btn btn-success mb-3 mt-2 me-2" %>
          <% end %>
        <% end %>
      <% else %>
        <% if !@lot.expired? %>
          <%= button_to "Lances para lotes ativos e usuários comuns logados",
                  bid_on_lot_lot_path(@lot.id),
                  method: :post,
                  class: "btn btn-secondary mb-3 mt-2 me-2",
                  disabled: true %>
        <% end %>
    <% end %><br />
  </div>


  <% if @lot.expired? && @lot.bids.count == 0 %>
    <h3 class="bg-danger text-white" style="--bs-text-opacity: .75; padding: 1rem">Cancelado por falta de lances</h3><br />
  <% elsif @lot.expired? && @lot.bids.count >= 1 %>
    <h3 class="bg-success text-white" style="--bs-text-opacity: .75; padding: 1rem"><strong>Arrematante: </strong><%= @lot.successful_bidder %></h3><br />
  <% end %>

  <table class="table table-success table-striped mb-5">
     <tbody>
      <tr>
        <td><strong><%= Lot.human_attribute_name(:code) %></strong></td>
        <td><%= @lot.code.upcase %></td>
      </tr>
      <tr>
        <td><strong><%= Lot.human_attribute_name(:start_date) %></strong></td>
        <td><%= I18n.l(@lot.start_date) %></td>
      </tr>
      <tr>
        <td><strong><%= Lot.human_attribute_name(:limit_date) %></strong></td>
        <td><%= I18n.l(@lot.limit_date) %></td>
      </tr>
      <tr>
        <td><strong><%= Lot.human_attribute_name(:minimum_bid_value) %> inicial</strong></td>
        <td>R$<%= @lot.minimum_bid_value %>,00 </td>
      </tr>
      <tr>
        <td><strong><%= Lot.human_attribute_name(:minimum_bid_difference) %></strong></td>
        <td>R$<%= @lot.minimum_bid_difference %>,00 </td>
      </tr>
      <% if !@lot.expired? %>
        <tr>
          <td><strong><%= Lot.human_attribute_name(:minimum_bid_value) %> atual</strong>
          <td>R$<%= @lot.bid_value_to_beat %>,00 </td>
        </tr>
      <% end %>
      <% if !@lot.expired? || !@lot.current? %>
        <tr>
          <td><strong>Lances feitos:</strong></td>
          <td><%= @lot.bids.count %></td>
        </tr>
      <% end %>
      <% if @lot.pending_approval? %>
        <tr>
          <td class="text-danger"><strong>Situação</strong></td>
          <td class="text-danger">Aguardando aprovação</td>
        </tr>
      <% elsif @lot.expired? %>
        <tr>
          <td class="text-danger"><strong>Situação</strong></td>
          <td class="text-danger">Lote expirado</td>
        </tr>
      <% elsif @lot.approved? %>
        <tr>
          <td class="text-primary"><strong>Situação</strong></td>
          <td class="text-primary">Lote aprovado</td>
        </tr>
      <% end %>
     </tbody>
  </table>


  <% if !@lot.approved? && @lot.future? %>
    <div>
      <%= link_to 'Adicionar item', new_lot_lot_item_path(lot_id: @lot.id) %>
    </div><br />
  <% end %>

  <% if @lot.lot_items.any? %>
    <div class="mb-4">
      <h4 class="mb-2"><strong>Itens do lote:</strong></h4>

      <% @lot.lot_items.each do |item| %>
        <div class="lot-items d-flex align-items-center gap-3">
          <p class="mt-3"><strong><%= item.item.name %></strong> - cód. <%= item.item.code %></p>
          <% if !@lot.approved? %>
            <%= button_to 'Remover', remove_lot_lot_item_path(@lot, item), method: :delete, class: "btn btn-light" %>
            <%= button_to 'Detalhes', item_path(item.id), method: :get, class: "btn btn-light" %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <span class="align-items-center">
    <% if user_signed_in? && current_user.admin? %>
     <hr><br />
      <p><strong>Criado por:</strong> <%= @lot.by %> | <%= @lot.by_email %></p>

      <% if current_user.email != @lot.by_email %>

        <% if @lot.pending_approval? && !@lot.expired? %>
          <div class="d-inline-flex ">
            <%= button_to "Aprovar lote", approved_lot_path(@lot.id), class: "btn btn-success mb-3 mt-2 me-2"%>
          </div>
        <% else %>
          <p><strong>Aprovado por:</strong> <%= @lot.approved_by %> | <%= @lot.approved_by_email %></p>
        <% end %>

      <% end %>
       <br /><hr><br />
    <% end %>
  </span>


  <div>
  <div>
  <% if !@lot.expired? %>

    <% if user_signed_in? && !current_user.admin? %>

      <h3>Tem alguma dúvida? Pergunte aqui:</h3><br />

      <%= form_with(model: [@lot, @question], url: block_by_cpf_lot_question_path(@lot), method: :post) do |f| %>
        <div class="d-flex">
          <%= f.text_area :body, class: "form-control", style: "width: 30vw;", placeholder: 'Escreva aqui' %>
        </div>
        <div >
          <%= f.submit 'Enviar', class: 'btn btn-primary mt-2'%>
        </div>
      <% end %>
    <% end %>


    <% if @questions.any? %>
      <% @questions.each do |question| %>
        <br />
          <div class="d-flex gap-2">
            <p><i><%= I18n.l(question.created_at, format: '%d de %B de %Y') %> - Usuário(a): <%= question.user.name %></i></p>
            <% if question.user.image.attached? %>
              <%= image_tag url_for(question.user.image), alt: question.user.name, class: 'rounded-circle', size: '30x30' %>
            <% end %>
          </div>
          <div class="d-flex gap-2">
            <% if question.visible? %>
                <p><strong><%= question.body %></strong></p><br />
            <% else %>
                <p class="ms-5 text-secondary text-opacity: .5"><i>Esta pergunta fere as normas do site</i></p>
            <% end %>
            <% if user_signed_in? && current_user.admin? %>
              <% if question.visible? %>
                <p><%= link_to 'Ocultar', hidden_lot_question_path(@lot, question) %></p>
              <% else %>
                <p><%= link_to 'Tornar visível', visible_lot_question_path(@lot, question) %></p>
              <% end %>
            <% end %>
          </div>

          <% if question.answers.any? && question.visible? %>
            <% question.answers.each do |answer| %>
              <div class="ms-5 d-flex flex-column gap-2">
                <div class="d-flex gap-2">
                  <% if answer.created_at %>
                    <p><i><%= I18n.l(answer.created_at, format: '%d de %B de %Y') %> - Admin: <%= answer.user.name %></i></p>
                  <% end %>
                  <% if current_user.image.attached? %>
                    <%= image_tag url_for(answer.user.image), alt: current_user.name, class: 'rounded-circle', size: '30x30' %>
                  <% end %>

                </div>

                <p><i><strong><%= answer.reply %></strong></i></p><br />
              </div>
            <% end %>
          <% end %>
          <% if user_signed_in? && current_user.admin? && question.visible? %>
            <%= form_with(model: [@lot, question, question.answers.build]) do |f| %>
              <div>
                <%= f.text_area :reply, class: "form-control bg-secondary bg-opacity-10", style: "width: 30vw;", placeholder: 'Responda aqui' %>
              </div>
              <div>
                <%= f.submit 'Responder', class: 'btn btn-warning mt-2' %>
              </div>
            <% end %>
          <% end %>


      <% end %>
    <% else %>
        <p><i>Nenhuma pergunta</i></p>
    <% end %>
  <% end %>
  <div class="d-flex gap-1">
    <%= link_to 'Tela inicial', root_path, class: "btn btn-success mb-3 mt-2 me-2"  %>
    <% if user_signed_in? && current_user.admin? %>
      <% if @lot.pending_approval?  %>
        <%= link_to 'Editar lote', edit_lot_path(@lot), class: "btn btn-success mb-3 mt-2 me-2"  %>
      <% elsif @lot.approved? %>
        <p>
          <button class="btn btn-secondary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-message" aria-expanded="false" aria-controls="collapseExample">
            Editar lote
          </button>
        </p>
        <div class="collapse" id="collapse-message">
          <div class="card card-body bg-transparent">
            Lote já aprovado
          </div>
        </div>
      <% end %>
    <% end %>
  <div>


</div>



